/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
/*header start*/
.menu ul li a{
	padding: 0 0!important;
	text-align: right;
}
/*header end*/
.slider{
	padding-bottom: 60px;
}
.cid {
    bottom: -50px;
}
.cid li { 
    width: 12px;
    height: 12px;
}
.s-content{
	margin-top: 10px;
}
.s-content h1{
	font-size: 25px;
}
.s-content h3{
	margin-top: 15px;
	font-size: 20px;
}
.s-content p{
	margin: 10px 0;
}
.s-icon li i{
	font-size: 30px;
}
/*slider start*/
.s-image img{
	display: none;
}
/*slider end*/
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
/*header start*/
.menu ul li a{
	padding: 0 0!important;
	text-align: right;
}
/*header end*/
/*slider start*/
.s-image img{
	display: none;
}
/*slider end*/
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
/*header start*/
.menu ul li a{
	padding: 0 0!important;
	text-align: right;
}
/*header end*/
/*slider start*/
.s-content{
	margin-top: 35px;
}
/*slider end*/
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
/*slider start*/
.s-image img{
	margin-left: 50px;
}
/*slider end*/
}