/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
/*header start*/
.menu ul li a{
	padding: 0 0!important;
	text-align: right;
}
/*header end*/
.slider{
	padding-bottom: 60px;
}
.cid {
    bottom: -50px;
}
.cid li { 
    width: 12px;
    height: 12px;
}
.s-content{
	margin-top: 10px;
}
.s-content h1{
	font-size: 25px;
}
.s-content h3{
	margin-top: 15px;
	font-size: 20px;
}
.s-content p{
	margin: 10px 0;
}
.s-icon li i{
	font-size: 30px;
}
/*slider start*/
.s-image img{
	display: none;
}
/*slider end*/
/*features start*/
.features{
	padding-top: 50px;
	padding-bottom: 70px;
	}
.m-t-60{
	margin-top: 30px;
	}
.s-text{
	text-align: center;
}
.c-h1{
	font-size: 25px;
	margin-bottom: 10px;
}
.c-p{
	font-size: 18px;
	word-spacing: 0;
}
.s-icon{
	font-size: 40px;
}
.s-text h2{
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 10px;
}
/*features end*/
/*contact start*/
.contact{
	padding-top: 50px;
	padding-bottom: 70px;
}
.c-p {
    font-size: 16px;
}
.f-form{
	margin-bottom: 0;
}
.f-submit{
	margin-top: 15px;
}
/*contact end*/
/*footer start*/
.f-1{
	text-align: center;
	margin-bottom: 50px;
}
footer{
	padding-bottom: 50px;
}
/*footer end*/
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
/*header start*/
.menu ul li a{
	padding: 0 0!important;
	text-align: right;
}
/*header end*/
/*slider start*/
.s-image img{
	display: none;
}
/*slider end*/
/*features start*/
.features{
	padding-top: 60px;
	padding-bottom: 80px;
	}
.m-t-60{
	margin-top: 40px;
	}
.s-text{
	text-align: center;
}

/*features end*/
/*contact start*/
.contact{
	padding-top: 60px;
	padding-bottom: 80px;
}
/*contact end*/
/*footer start*/
.f-1{
	text-align: center;
	margin-bottom: 50px;
}
/*footer end*/

}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
/*header start*/
.menu ul li a{
	padding: 0 0!important;
	text-align: right;
}
/*header end*/
/*slider start*/
.s-content{
	margin-top: 35px;
}
/*slider end*/


}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
/*slider start*/
.s-image img{
	margin-left: 50px;
}
/*slider end*/
}